{% extends "../main/layout.html" %}
{%load static%}
{% block title %}Login{% endblock %}
{%block css%}
<link rel="stylesheet" href="{%static 'main/css/Вход.css'%}" media="screen">
{%endblock%}
{% block head %}

 <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-7c56">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-text u-text-default u-text-1">Вход</p>
        <div class="u-form u-form-1">



          <form method="post" action="{% url 'login' %}" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="name" name="form">
            {% csrf_token %}
            <div class="u-form-email u-form-group u-label-none">
              <label for="name-6797" class="u-label">Name</label>
              <div id="name-6797" class="u-input u-input-rectangle">{{ form.username }}</div>
            </div>

            <div class="u-form-group u-label-none u-form-group-2">
              <label for="text-4495" class="u-label">Поле ввода</label>

              <div id ="text-4495" class="u-input u-input-rectangle">{{ form.password }}</div>
            </div>

            <div class="u-align-center u-form-group u-form-submit">
            {% if form.errors %}
              <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
              <input type="submit" value="Войти" class="u-border-none u-btn u-btn-submit u-button-style u-palette-4-dark-1 u-btn-1">
              <input type="hidden" name="next" value="{{ next }}"/>
            </div>

          </form>
        </div>
        <a href="{%url 'auth_student'%}" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-dark-2 u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">Регистрация для обучающегося</a>
        <a href="{%url 'auth_teacher'%}" class="u-active-none u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-palette-4-dark-2 u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-3">Регистрация для репетитора</a>
      </div>
    </section>



{% endblock %}
