{% extends "../main/layout.html" %}
{%load static%}
{% block title %}Profile{% endblock %}
{%block css%}
<link rel="stylesheet" href="{%static 'main/css/profile_teacher.css'%}" media="screen">
{%endblock%}
{% block head %}
    <h3>Репетитор {{request.user.username}}</h3>

    <section class="u-clearfix u-section-1" id="sec-899d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-default u-text-1">Чат с учеником</h3>
      </div>
    </section>

    <a href="{%url 'logout'%}">logout</a>
{% endblock %}

